.App {
  text-align: center;
}
#root{
  /* display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */


}

.pokemon{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top:100px;

}
.pokemon-card{
  width: 250px;
  height:250px;
  text-align:center;
  background: lightgray;
  margin:20px

}
.poke-name{
  color: blue
}
  .header{
    text-align:center

  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
